$grid-breakpoints: (
        xs: 0,
        sm: 326px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1900px
);

$container-max-widths: (
        sm: 720px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1610px
);

@import "bootswatch_variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$color1: rgba(16, 79, 85, 1);
$color2: rgba(67, 146, 241, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(0, 100, 148, 1);
$color5: rgba(220, 73, 58, 1);

body {
  background: $color2;
}

.bb-1,
.bb-2,
.bb-3,
.bb-4 {
  margin-top: 15px;
  width: 100%;
  min-height: 200px;
}

.bb-1 {
  margin-top: 40px;
}

.bb-1 {
  // /background: $color2;
}
.bb-2 {
  background: $color1;
  margin-top: 100px;
}
.bb-3 {
  background: $color5;
}
.bb-4 {
  background: $color4;
}


html {
  font-size: 0.7rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}